.topbar {
  &.zaui-header {
    position: sticky;
    height: auto;
    margin-bottom: 0;
    flex: none;
    // padding: 0;
    padding-bottom: 5.2px;
    // padding-top: 5.2px;

    &::after {
      display: none;
    }
  }
  &.other {
    .zaui-header-title {
      display: flex;
      justify-content: center;
      margin-left: 0;
      margin-right: 24px;
    }
  }
}
